--index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cu128

torch==2.7.0
torchvision==0.22.0
docopt==0.6.2
joblib==1.2.0
pandas==2.3.3
numpy==2.0.2
scikit-learn==1.6
tqdm==4.32.1